@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap);
@font-face {
  font-family: DirtyBrush;
  src: url(../assets/fonts/DirtyBrush.ttf);
}
@font-face {
  font-family: BastradRegular;
  src: url(../assets/fonts/BastradRegular.otf);
}
@font-face {
  font-family: JamstreetGraffiti;
  src: url(../assets/fonts/JamstreetGraffiti.ttf);
}
@font-face {
  font-family: RevnosaRegular;
  src: url(../assets/fonts/RevnosaRegular.ttf);
}
@font-face {
  font-family: TexasGrungeDemo;
  src: url(../assets/fonts/TexasGrungeDemo.ttf);
}
@font-face {
  font-family: WickhopHandwriting;
  src: url(../assets/fonts/WickhopHandwriting.ttf);
}
@font-face {
  font-family: Crossbar;
  src: url(../assets/fonts/Crossbar.otf);
}
@font-face {
  font-family: SlugRegular;
  src: url(../assets/fonts/SlugRegular.otf);
}
* {
  margin: 0px;
  padding: 0px;
}

html {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(28, 28, 28);
}

::selection {
  background: rgb(120, 120, 120);
}

::-moz-selection {
  background: rgb(120, 120, 120);
}

ul {
  list-style: none;
}

.langNav {
  border: 3px solid dimgrey;
  width: 120px;
  height: 120px;
  position: fixed;
  top: -60px;
  left: -60px;
  z-index: 10;
  border-radius: 120px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.langSwitch {
  cursor: pointer;
  position: absolute;
  background-color: dimgrey;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.focusOnCH {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.focusOnEN {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.langCh {
  right: -30px;
  bottom: 30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.langEn {
  right: 30px;
  bottom: -30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header {
  width: 100%;
  border: #f5f5f5 0px solid;
  background-color: rgb(44, 44, 44);
  margin: 0px auto;
  background: url(../assets/img/bg1.png) fixed repeat;
  color: #fff;
  text-align: center;
  padding: 100px 0px;
}
.header h1 {
  font-family: "-apple-system", BlinkMacSystemFont, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", Osaka, "sans-serif";
  font-size: 34px;
  margin-bottom: 8px;
}
.header h1 .title {
  padding: 0px 15px;
}
.header h2 {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 500;
  margin-top: 0px;
  color: #aaa;
}
.header .beta {
  font-size: 15px;
  padding: 0px 5px;
  color: rgb(127, 180, 57);
}

.breather {
  width: 100%;
  height: 80px;
  background-color: #000;
}

.hide {
  opacity: 0 !important;
  z-index: -1;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

.chartWrapper {
  position: relative;
  width: 1185px;
  height: 780px;
  margin: 50px auto 50px auto;
}

#chart {
  width: 1185px;
  height: 780px;
  position: absolute;
}

#chart ul {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#chart li {
  position: absolute;
  display: block;
}

.charaPhotoBox {
  cursor: pointer;
  border: 2px white solid;
  width: 135px;
  height: 155px;
  background: url(../assets/img/bg1.png) fixed repeat;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: 0.4s ease;
}

.nameSticker {
  color: white;
  font-family: RevnosaRegular;
  padding-top: 3px;
  font-size: 19px;
}

#chartSVG {
  width: 1185px;
  height: 780px;
  position: absolute;
  display: block;
}

#chartSVG path {
  stroke-width: 2.3px;
}

.basePath {
  stroke-opacity: 0.2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clonePath {
  stroke-opacity: 0;
  stroke-dasharray: 1500;
  -webkit-stroke-opacity: all 0.3s;
  -moz-stroke-opacity: all 0.3s;
  stroke-opacity: all 0.3s;
}

.duoPath {
  stroke-opacity: 1;
  stroke-dasharray: 10;
  animation: dash 0.7s forwards linear infinite;
}

.duoPathBase {
  stroke-opacity: 1 !important;
}

.animatedPath {
  stroke-opacity: 1;
  animation: draw 1.3s forwards linear;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 19;
  }
}
.relation {
  text-align: center;
  border: 0px solid lightgrey;
  font-size: 0.75em;
  cursor: pointer;
  transition: 0.4s ease;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-shadow: 1px 1px 0 black;
}

.relLabel {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25em;
  border: 0px solid #000;
  padding: 2px 0 2px 0;
  line-height: 100%;
  transition: 0.4s ease;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black, -2px 2px 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
}

.faded {
  opacity: 0.1;
}

.group {
  stroke-width: 0.5px;
}

#RB {
  stroke: rgb(127, 180, 57);
  stroke-opacity: 0.3;
  fill: rgb(127, 180, 57);
  fill-opacity: 0.1;
}

#MM {
  stroke: rgb(41, 81, 194);
  stroke-opacity: 0.3;
  fill: rgb(41, 81, 194);
  fill-opacity: 0.1;
}

.noscroll {
  overflow: hidden;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  backface-visibility: hidden;
  -webkit-visibility: hidden;
  -moz-visibility: hidden;
  -ms-visibility: hidden;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  -webkit-visibility: visible;
  -moz-visibility: visible;
  -ms-visibility: visible;
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-content {
  color: #fff;
  text-align: left;
  position: relative;
  margin: 0 auto;
}

.md-content > div {
  position: absolute;
}

.relCloseBT, .bioCloseBT {
  cursor: pointer;
  z-index: 10;
}

.md-show.md-window ~ .container {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

.charaBio {
  width: 900px;
  height: 700px;
}

.charaBio .bioCloseBT {
  top: 40px;
  right: -20px;
}

.bioBasic, .bioDetail {
  font-size: 14px;
}

.bioHeader {
  z-index: 10;
  top: 60px;
  left: 550px;
  color: white;
}
.bioHeader :first-child {
  font-size: 55px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat";
}
.bioHeader :nth-child(2) {
  font-size: 15px;
}

.bioBasic {
  background-color: #000;
  padding: 30px 25px 30px 25px;
  width: 215px;
  top: 50px;
  left: 260px;
  z-index: 5;
}

.bioBasic table tr td:first-child {
  padding: 1px 7px 1px 5px;
}

.bioBasic table tr td:nth-child(2) {
  padding-left: 5px;
}

.bioBasic td div {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  border-radius: 15px;
  display: inline-block;
}

.iconBi {
  background: linear-gradient(-45deg, rgb(214, 2, 112) 40%, rgb(155, 79, 150) 45%, rgb(155, 79, 150) 55%, rgb(0, 56, 168) 60%);
}

.iconPan {
  background: linear-gradient(-45deg, rgb(255, 33, 140) 36%, rgb(255, 216, 0) 45%, rgb(255, 216, 0) 55%, rgb(33, 177, 255) 64%);
}

.traitLabel {
  margin: 15px auto 5px auto;
  padding-bottom: 2px;
  width: 150px;
  text-align: center;
}

td li, .traits li {
  text-align: center;
  color: white;
}

.traits li:before {
  content: "＃ ";
}

.bioArt {
  z-index: 10;
  position: relative;
}

.bioArt > img {
  left: 120px;
  top: 350px;
  position: absolute;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.bioOutfits {
  padding: 0;
  width: 240px;
  height: 230px;
  bottom: 70px;
  left: 280px;
  z-index: 6;
}

.outfitSelect {
  position: relative;
}

.outfitSelect li {
  cursor: pointer;
  color: rgb(92, 92, 92);
  right: 0px;
  font-size: 24px;
  font-family: TexasGrungeDemo;
  position: absolute;
  min-width: 80px;
  padding: 8px 18px;
  text-align: center;
  background-image: linear-gradient(137deg, #2b2b2b 14.29%, #000000 14.29%, #000000 50%, #2b2b2b 50%, #2b2b2b 64.29%, #000000 64.29%, #000000 100%);
  background-size: 51.32px 47.86px;
  box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}

.outfitSelect-ch {
  font-size: 22px !important;
  padding: 2px 23px 4px 23px !important;
  font-family: "Yusei Magic", sans-serif !important;
}

.outfitSelect li:hover, .focusedOutfit {
  color: white !important;
}

.outfitSelect li:nth-child(1) {
  transform: rotate(7deg);
  top: 5px;
}

.outfitSelect li:nth-child(2) {
  transform: rotate(-6deg);
  top: 50px;
  right: -5px;
}

.outfitSelect li:nth-child(3) {
  transform: rotate(2deg);
  top: 100px;
  right: -10px;
}

.outfitSelect li:nth-child(4) {
  transform: rotate(-7deg);
  top: 155px;
  right: -10px;
}

.bioDetail {
  padding: 30px 45px 120px 50px;
  background-color: rgb(50, 50, 50);
  line-height: 150%;
  right: -20px;
  bottom: 50px;
}

.bioDetailInner {
  padding: 10px;
  overflow-y: auto;
  width: 310px;
  height: 350px;
}

.md-window .md-content .bioBasic,
.md-window .md-content .bioOutfits,
.md-window .md-content .bioDetail,
.md-window .md-content .bioCloseBT,
.md-window .md-content .bioHeader {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-window .md-content .bioBasic {
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.md-window .md-content .bioOutfits {
  -webkit-transform: translateY(5%);
  -moz-transform: translateY(5%);
  -ms-transform: translateY(5%);
  transform: translateY(5%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.md-window .md-content .bioDetail,
.md-window .md-content .bioCloseBT {
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}

.md-window .md-content .bioHeader {
  -webkit-transform: translateY(15%);
  -moz-transform: translateY(15%);
  -ms-transform: translateY(15%);
  transform: translateY(15%);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

.md-window .md-content .bioArt img {
  -webkit-transform: translateX(-60%) translateY(-50%);
  -moz-transform: translateX(-60%) translateY(-50%);
  -ms-transform: translateX(-60%) translateY(-50%);
  transform: translateX(-60%) translateY(-50%);
  opacity: 0;
}

.md-show.md-window .md-content .bioBasic,
.md-show.md-window .md-content .bioOutfits,
.md-show.md-window .md-content .bioDetail,
.md-show.md-window .md-content .bioCloseBT,
.md-show.md-window .md-content .bioHeader {
  -webkit-transform: translateY(0) translateX(0);
  -moz-transform: translateY(0) translateX(0);
  -ms-transform: translateY(0) translateX(0);
  transform: translateY(0) translateX(0);
  opacity: 1;
}

.md-show.md-window .md-content .bioArt img {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.relationshipPage {
  border: #fff 1px solid;
  width: 550px;
  height: 700px;
}

.relationshipPage .relCloseBT {
  top: -30px;
  right: -30px;
}

.charaPhoto {
  width: 120px;
  height: 120px;
  background-image: url(../assets/img/profilePics.png);
  background-repeat: no-repeat;
  background-size: 360px auto;
  margin: 8px auto 0px auto;
}

.blade {
  color: rgb(127, 180, 57);
  stroke: rgb(127, 180, 57);
}

.bladePhoto {
  background-color: rgb(127, 180, 57);
  background-position: 0px 0px;
}

.axel {
  color: rgb(221, 155, 33);
  stroke: rgb(221, 155, 33);
}

.axelPhoto {
  background-color: rgb(221, 155, 33);
  background-position: -120px 0px;
}

.xiu {
  color: rgb(65, 173, 206);
  stroke: rgb(65, 173, 206);
}

.xiuPhoto {
  background-color: rgb(65, 173, 206);
  background-position: -240px 0px;
}

.yoni {
  color: rgb(224, 213, 54);
  stroke: rgb(224, 213, 54);
}

.yoniPhoto {
  background-color: rgb(224, 213, 54);
  background-position: 0px -120px;
}

.hannah {
  color: rgb(41, 81, 194);
  stroke: rgb(41, 81, 194);
}

.hannahPhoto {
  background-color: rgb(41, 81, 194);
  background-position: 0px -240px;
}

.lance {
  color: rgb(148, 77, 206);
  stroke: rgb(148, 77, 206);
}

.lancePhoto {
  background-color: rgb(148, 77, 206);
  background-position: -120px -120px;
}

.ellie {
  color: rgb(17, 148, 87);
  stroke: rgb(17, 148, 87);
}

.elliePhoto {
  background-color: rgb(17, 148, 87);
  background-position: -120px -240px;
}

.edd {
  color: rgb(211, 43, 43);
  stroke: rgb(211, 43, 43);
}

.eddPhoto {
  background-color: rgb(211, 43, 43);
  background-position: -120px -360px;
}

.minerva {
  color: rgb(167, 87, 83);
  stroke: rgb(167, 87, 83);
}

.minervaPhoto {
  background-color: rgb(167, 87, 83);
  background-position: 0px -360px;
}

.simon {
  color: rgb(216, 40, 163);
  stroke: rgb(216, 40, 163);
}

.simonPhoto {
  background-color: rgb(216, 40, 163);
  background-position: -240px -360px;
}

.ryan {
  color: rgb(180, 180, 180);
  stroke: rgb(180, 180, 180);
}

.ryanPhoto {
  background-color: rgb(180, 180, 180);
  background-position: -240px -120px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

/*# sourceMappingURL=style.css.map */
