@use "sass:map";
@import url(https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap);

$chart-width: 1185px ;
$chart-height: 780px ;
$chara-box-width: 135px;
$chara-box-height: 155px;
$chara-photo-size: 120px;

$charaColors: (
  blade: rgb(127, 180, 57),
  axel: rgb(221, 155, 33),
  xiu: rgb(65, 173, 206),
  yoni: rgb(224, 213, 54),
  hannah: rgb(41, 81, 194),
  lance: rgb(148, 77, 206),
  ellie: rgb(17, 148, 87),
  edd: rgb(211, 43, 43),
  minerva: rgb(167, 87, 83),
  simon: rgb(216, 40, 163),
  ryan: rgb(180, 180, 180)
);

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

@font-face {
  font-family: DirtyBrush;
  src: url(../assets/fonts/DirtyBrush.ttf);
}
@font-face {
  font-family: BastradRegular;
  src: url(../assets/fonts/BastradRegular.otf);
}
@font-face {
  font-family: JamstreetGraffiti;
  src: url(../assets/fonts/JamstreetGraffiti.ttf);
}
@font-face {
  font-family: RevnosaRegular;
  src: url(../assets/fonts/RevnosaRegular.ttf);
}
@font-face {
  font-family: TexasGrungeDemo;
  src: url(../assets/fonts/TexasGrungeDemo.ttf);
}
@font-face {
  font-family: WickhopHandwriting;
  src: url(../assets/fonts/WickhopHandwriting.ttf);
}
@font-face {
  font-family: Crossbar;
  src: url(../assets/fonts/Crossbar.otf);
}
@font-face {
  font-family: SlugRegular;
  src: url(../assets/fonts/SlugRegular.otf);
}

*{
    margin: 0px;
    padding: 0px; 
}
  
html{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(28, 28, 28);
}

::selection {
  background: rgb(120, 120, 120);
}
::-moz-selection {
  background: rgb(120, 120, 120);
}

ul{
  list-style: none;
}

.langNav{
  border: 3px solid dimgrey;
  width: 120px;
  height: 120px;
  position: fixed;
  top:-60px;
  left:-60px;
  z-index: 10;
  border-radius: 120px;
  @include prefix(transition, all 0.3s, webkit moz);   

}

.langSwitch{
  cursor: pointer;
  position: absolute;
  background-color: dimgrey;
  display:block;
  width:60px;
  height:60px;
  line-height:60px;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
}

.focusOnCH{
  @include prefix(transform, rotate(45deg), webkit moz ms);    
}

.focusOnEN{
  @include prefix(transform, rotate(-45deg), webkit moz ms);    
}

.langCh{
  right: -30px;
  bottom: 30px;
  @include prefix(transform, rotate(-45deg), webkit moz ms);  
}

.langEn{
  right: 30px;
  bottom: -30px;
  @include prefix(transform, rotate(45deg), webkit moz ms);  
}

.header{
  width: 100%;
  border: #f5f5f5 0px solid;
  background-color: rgb(44, 44, 44);
  margin: 0px auto;
  background:url(../assets/img/bg1.png) fixed repeat;
  // background-size: cover;
  color: #fff;
  text-align:center;
  padding: 100px 0px; 

  h1{
    font-family: "-apple-system", BlinkMacSystemFont, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", Osaka, "sans-serif";
    font-size: 34px;
    margin-bottom: 8px;
    .title{
        padding:0px 15px;
    }
  }

  h2{
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 500;
    margin-top: 0px;
    color:#aaa;
  }

  .beta{
    font-size: 15px;
    padding: 0px 5px;
    color: map.get($charaColors, "blade");
  }
}

.breather{
  width: 100%;
  height: 80px;
  background-color: #000;
}

.hide{
  opacity: 0 !important;
  z-index: -1;
}

.noSelect{
  -webkit-touch-callout: none; /* iOS Safari */
  @include prefix(user-select, none, webkit khtml moz ms);  
}

.blur{
  @include prefix(filter, blur(5px), webkit moz);    
}

//=======================//
//===                 ===//
//===   Chart Stuff   ===//
//===                 ===//
//=======================//

.chartWrapper{
  position: relative;
  width: $chart-width;
  height: $chart-height;
  margin: 50px auto 50px auto;
}

#chart{
  // border: 1px solid #000;
  width: $chart-width;
  height: $chart-height;
  position: absolute;
}

#chart ul{
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#chart li{
  position: absolute;
  display: block;
}

.charaPhotoBox{
  cursor: pointer;
  border: 2px white solid ;
  width: $chara-box-width;
  height: $chara-box-height;
  background:url(../assets/img/bg1.png) fixed repeat;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 10px 3px rgba(0,0,0,0.4); 
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3), inset 0px 0px 10px 3px rgba(0,0,0,0.4);
  opacity: 1;
  transition: 0.4s ease;
}

.nameSticker{
  color: white;
  font-family: RevnosaRegular;
  padding-top: 3px;
  font-size: 19px;
}

#chartSVG{
  width: $chart-width;
  height: $chart-height;
  position: absolute;
  display: block;
}

#chartSVG path{
  stroke-width: 2.3px;
  @include prefix(transition, all 0.3s, webkit moz);    
}

.basePath{
  stroke-opacity: 0.25;
}

.clonePath{
  stroke-opacity: 0;
  stroke-dasharray: 1500;
  // stroke-dasharray: 10;
}

.duoPath{
  stroke-opacity: 1;
  stroke-dasharray: 1500;
  stroke: white !important;
  animation: draw 0.7s forwards linear ;
}

.animatedPath{
  stroke-opacity: 1;
  animation: draw 1s forwards linear ;
  // animation: dash 0.8s forwards infinite linear;
}

.animatedPathReverse{
  stroke-opacity: 1;
  animation: draw 1s backwards linear;
  // animation: dash-reverse 0.8s forwards infinite linear;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// @keyframes draw-reverse {
//   from {
//     stroke-dashoffset: 1000;
//   }
//   to {
//     stroke-dashoffset: 0;
//   }
// }

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 19;
  }
}

@keyframes dash-reverse {
  from {
    stroke-dashoffset: 19;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.relation{
  text-align: center;
  border: 0px solid lightgrey;
  font-size: 0.75em;
  cursor: pointer;
  transition: 0.4s ease;
  @include prefix(transform, translateX(-50%) translateY(-50%), webkit moz ms);  
	text-shadow: 1px 1px 0 black,
}

.relLabel{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25em;
  border: 0px solid #000;
  padding: 2px 0 2px 0;
  line-height: 100%;
  transition: 0.4s ease;
	text-shadow: 
        -1px 1px 0 black,
        1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;
}

.faded{
  opacity: 0.1;
}

.group{
  stroke-width: 0.5px;
}
#RB{
  stroke: map.get($charaColors, "blade");
  stroke-opacity: 0.3;
  fill: map.get($charaColors, "blade");
  fill-opacity: 0.1;
}
#MM{
  stroke: map.get($charaColors, "hannah");
  stroke-opacity: 0.3;
  fill: map.get($charaColors, "hannah");
  fill-opacity: 0.1;
}

//===========================//
//===                     ===//
//===   Pop open window   ===//
//===                     ===//
//===========================//
.noscroll { overflow: hidden; }
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2000;
	backface-visibility: hidden;
  @include prefix(visibility, hidden, webkit moz ms);
  @include prefix(transform, translateX(-50%) translateY(-50%), webkit moz ms);  
}

.md-show {
	@include prefix(visibility, visible, webkit moz ms);
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.6);
  @include prefix(transition, all 0.3s, webkit moz);  
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-content {
	color: #fff;
  text-align: left;
	position: relative;
	margin: 0 auto;
}

.md-content > div{
  position: absolute;
}

// Bio Close button
.relCloseBT, .bioCloseBT{
  cursor: pointer;
  z-index: 10;
}

.md-show.md-window ~ .container {
  @include prefix(filter, blur(5px), webkit moz);  
}

//==============================//
//===   Style for Bio page   ===//
//==============================//
.charaBio{
	width: 900px;
	height: 700px;
}
.charaBio .bioCloseBT{
  top: 40px;
  right: -20px;  
}
.bioBasic, .bioDetail{
  font-size: 14px;
}
// Header
.bioHeader{
  z-index: 10;
  top: 60px;
  left: 550px;
  color: white;
  :first-child{
    font-size: 55px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat";  
  }
  :nth-child(2){
    font-size: 15px;
  }
}
// Basic Info Panel
.bioBasic{
  background-color: #000;
  padding: 30px 25px 30px 25px;
  width: 215px;
  top: 50px;
  left: 260px;
  z-index: 5;
}
.bioBasic table tr td:first-child{
  padding: 1px 7px 1px 5px;
}
.bioBasic table tr td:nth-child(2) {
  padding-left: 5px;
}
.bioBasic td div{
  width: 15px;
  height: 15px;
  margin-right: 3px;
  border-radius: 15px;
  display: inline-block;
  // clip-path: polygon(100% 50%, 80% 50%, 80% 100%, 20% 100%, 20% 50%, 0 50%, 50% 0);
  // clip-path: polygon(0 60%, 20% 30%, 7% 16%, 100% 0, 85% 95%, 70% 80%, 40% 100%);
}
.iconBi{
  background: linear-gradient(-45deg, rgba(214,2,112,1) 40%, rgba(155,79,150,1) 45%, rgba(155,79,150,1) 55%, rgba(0,56,168,1) 60%);
}
.iconPan{
  background: linear-gradient(-45deg, rgba(255,33,140,1) 36%, rgba(255,216,0,1) 45%, rgba(255,216,0,1) 55%, rgba(33,177,255,1) 64%);  
}

// Traits section
.traitLabel{
  margin: 15px auto 5px auto;
  padding-bottom: 2px;
  width: 150px;
  text-align: center;
}
td li, .traits li {
  text-align: center;
  color: white;
}
.traits li:before{
  content: "＃ ";
}

// Chara Art Panel
.bioArt{
  z-index: 10;
  position: relative;
}
.bioArt >  img{
  left:120px;
  top: 350px;
  position: absolute;
  @include prefix(transition, all 0.4s, webkit moz);
}

// Oufits Panel
.bioOutfits{
  padding: 0;
  width: 240px;
  height: 230px;
  bottom: 70px;
  left: 280px;
  z-index: 6;
}
.outfitSelect{
  position: relative;
}
.outfitSelect li{
  cursor: pointer;
  color: rgb(92, 92, 92);
  right: 0px;
  font-size: 24px;
  font-family: TexasGrungeDemo;
  position: absolute;
  min-width: 80px;
  padding: 8px 18px;
  text-align: center;
  background-image: linear-gradient(137deg, #2b2b2b 14.29%, #000000 14.29%, #000000 50%, #2b2b2b 50%, #2b2b2b 64.29%, #000000 64.29%, #000000 100%);
  background-size: 51.32px 47.86px;
  box-shadow: -5px -5px 5px 0px rgba(0,0,0,0.5);
  transition: 0.2s ease;  
}
.outfitSelect-ch{
  font-size: 22px !important;
  padding: 2px 23px 4px 23px !important;
  font-family: 'Yusei Magic', sans-serif !important;
}
.outfitSelect li:hover, .focusedOutfit{
  color: white !important;
}
.outfitSelect li:nth-child(1) {
  transform: rotate(7deg);
  top: 5px;
}
.outfitSelect li:nth-child(2) {
  transform: rotate(-6deg);
  top: 50px;
  right: -5px;
}
.outfitSelect li:nth-child(3) {
  transform: rotate(2deg);
  top: 100px;
  right: -10px;
}
.outfitSelect li:nth-child(4) {
  transform: rotate(-7deg);
  top: 155px;
  right: -10px;
}

// Detail Bio Panel
.bioDetail{
  padding: 30px 45px 120px 50px;
  background-color: rgba(50, 50, 50, 1);
  line-height: 150%;
  right: -20px;
  bottom: 50px;

}
.bioDetailInner{
  padding: 10px;
  overflow-y: auto;
  width:  310px;
  height: 350px;

}

// Window effect stuff
.md-window .md-content .bioBasic,
.md-window .md-content .bioOutfits,
.md-window .md-content .bioDetail,
.md-window .md-content .bioCloseBT,
.md-window .md-content .bioHeader{
	opacity: 0;
  @include prefix(transition, all 0.3s, webkit moz);
}

.md-window .md-content .bioBasic{
  @include prefix(transform, translateY(-5%), webkit moz ms);  
  @include prefix(transition, all 0.4s, webkit moz);  
}

.md-window .md-content .bioOutfits{
  @include prefix(transform, translateY(5%), webkit moz ms);  
  @include prefix(transition, all 0.5s, webkit moz);  
}

.md-window .md-content .bioDetail,
.md-window .md-content .bioCloseBT{
  @include prefix(transform, translateX(10%), webkit moz ms);
  @include prefix(transition, all 0.6s, webkit moz);
}

.md-window .md-content .bioHeader{
  @include prefix(transform, translateY(15%), webkit moz ms);
  @include prefix(transition, all 0.7s, webkit moz);
}

.md-window .md-content .bioArt img{
  @include prefix(transform, translateX(-60%) translateY(-50%), webkit moz ms);
  opacity: 0;
}

//style of panels when window is visible
.md-show.md-window .md-content .bioBasic,
.md-show.md-window .md-content .bioOutfits,
.md-show.md-window .md-content .bioDetail,
.md-show.md-window .md-content .bioCloseBT,
.md-show.md-window .md-content .bioHeader{
  @include prefix(transform, translateY(0) translateX(0), webkit moz ms);
	opacity: 1;
}

.md-show.md-window .md-content .bioArt img{
  @include prefix(transform, translateX(-50%) translateY(-50%), webkit moz ms);
  opacity: 1;
}

//==============================//
//===   Style for Bio page   ===//
//==============================//

.relationshipPage{
  // background-color: rgba(50, 50, 50, 1);
  border: #fff 1px solid;
  width: 550px;
	height: 700px;
}

.relationshipPage .relCloseBT{
  top: -30px;
  right: -30px;  
}

//=====================================//
//===                               ===//
//===                               ===//
//===   Character Specific Styles   ===//
//===                               ===//
//===                               ===//
//=====================================//

.blade{
  color: map.get($charaColors, "blade");
  stroke: map.get($charaColors, "blade");  
}
.axel{
  color: map.get($charaColors, "axel");
  stroke: map.get($charaColors, "axel");
}
.xiu{
  color: map.get($charaColors, "xiu");
  stroke: map.get($charaColors, "xiu");
}
.yoni{
  color: map.get($charaColors, "yoni");
  stroke: map.get($charaColors, "yoni");
}
.hannah{
  color: map.get($charaColors, "hannah");
  stroke: map.get($charaColors, "hannah");
}
.lance{
  color: map.get($charaColors, "lance");
  stroke: map.get($charaColors, "lance");
}
.ellie{
  color: map.get($charaColors, "ellie");
  stroke: map.get($charaColors, "ellie");
}
.edd{
  color: map.get($charaColors, "edd");
  stroke: map.get($charaColors, "edd");
}
.minerva{
  color: map.get($charaColors, "minerva");
  stroke: map.get($charaColors, "minerva");
}
.simon{
  color: map.get($charaColors, "simon");
  stroke: map.get($charaColors, "simon");
}
.ryan{
  color: map.get($charaColors, "ryan");
  stroke: map.get($charaColors, "ryan");
}

.charaPhoto{
  width: $chara-photo-size;
  height: $chara-photo-size;
  background-image: url(../assets/img/profilePics.png);
  background-repeat: no-repeat;
  background-size: 360px auto;
  margin: 8px auto 0px auto;
}

.bladePhoto{
  background-color: map.get($charaColors, "blade");
  background-position: 0px 0px;
}
.axelPhoto{
  background-color: map.get($charaColors, "axel");
  background-position: -120px 0px;
}
.xiuPhoto{
  background-color: map.get($charaColors, "xiu");
  background-position: -240px 0px;
}
.yoniPhoto{
  background-color: map.get($charaColors, "yoni");
  background-position: 0px -120px;
}
.hannahPhoto{
  background-color: map.get($charaColors, "hannah");
  background-position: 0px -240px;
}
.lancePhoto{
  background-color: map.get($charaColors, "lance");
  background-position: -120px -120px;
}
.elliePhoto{
  background-color: map.get($charaColors, "ellie");
  background-position: -120px -240px;
}
.eddPhoto{
  background-color: map.get($charaColors, "edd");
  background-position: -120px -360px;
}
.minervaPhoto{
  background-color: map.get($charaColors, "minerva");
  background-position: 0px -360px;
}
.simonPhoto{
  background-color: map.get($charaColors, "simon");
  background-position: -240px -360px;
}
.ryanPhoto{
  background-color: map.get($charaColors, "ryan");
  background-position: -240px -120px;
}


// @keyframes glow {
//   from {
//     text-shadow: 0 0 5px rgb(255, 255, 155), 0 0 15px rgb(255, 255, 255), 0 0 25px #e60073, 0 0 35px #e60073, 0 0 45px ;
//   }
//   to {
//     text-shadow: 0 0 15px #fff, 0 0 25px #ff4da6, 0 0 35px #ff4da6, 0 0 45px #ff4da6, 0 0 55px ;
//   }
// }


/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}